<span class="flash"><%= flash[:notice] %></span>

<body>
  <div class="show">
    <strong>Title:</strong>
    <a><%= @book.title %></a>
  </div>

  <div class="show">
    <strong>Body:</strong>
    <a><%= @book.body %></a>
  </div>

  <span><%= link_to 'Edit', edit_book_path(@book.id) %></span>
  <span><%= link_to 'Back', "/books" %></span>
</body>